*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --background:#03082f;
    --secondaryBackground:#70632a;
    --text:#fff;
    --purple:#e8d109cb;
    --inputcolor:#e9df7fcb;
    --teal:#54eeff;
}
body{
    background-color:var(--background) ;
    color: var(--text);
}
.container{
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: center;
    margin : 120px auto 0 auto;
    max-width: 500px;
}
.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    border-color:var(--purple) ;


}

.stats-container::after , .stats-container::before{

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
  border-color: var(--purple);
    top: 50%;
    left: 50%;
   
    border-radius: 10px;

}

#progressBar {
    width: 250%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#progress {
    height: 100%;
    background-color: var(--teal);
    width: 0%; /* Start at 0% */
    transition: width 0.3s ease; /* Smooth animation */
}
#numbers{
width: 100px;
height: 100px;
background-color: var(--purple);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
font-size: 30px;
font-weight: bold;
}
 form{
  margin-top: 60px;  
  width: 100%;
  display: flex;
  gap: 10px;
 }
  input{
    flex: 1;
    padding: 16px;
    border: 1px solid var(--purple);
    background-color: var(--inputcolor);
    border-radius: 10px;
    outline: none;
    color: var(--text);
  
  }
  button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
  }
  #task-list{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  .taskItem{
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .task{
    display: flex;
    align-items: center;
    gap:10px
  }
  .task input{
   width: 20px;
   height: 20px;
  }
  .task.completed p {
    text-decoration: line-through;
    color: var(--teal);
}
  .taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
   
  }